---
- name: Настройка порта Nginx на локальной машине
  hosts: localhost
  connection: local
  become: yes
  vars:
    nginx_port: 8080
    nginx_config_path: /tmp/nginx-test/nginx.conf

  tasks:
    - name: Ensure nginx config file exists with correct permissions
      ansible.builtin.file:
        path: "{{ nginx_config_path }}"
        state: touch
        owner: root
        group: root
        mode: '0644'

    - name: Установка порта Nginx
      nginx_port:
        port: "{{ nginx_port }}"
        config_path: "{{ nginx_config_path }}"
      # notify: Restart Nginx 

  handlers:
    - name: Restart Nginx
      ansible.builtin.service:
        name: nginx
        state: restarted
